{% extends 'base.html' %}
{% load static %}
{% block content %}
    <section id="billboard" class="position-relative d-flex align-items-center py-5 bg-light-gray"
      style="background-image:url({% static 'images/banner-image-bg.jpg' %}); background-size: cover; background-repeat: no-repeat; background-position: center; height: 500px;">
      <div class="position-absolute end-0 pe-0 pe-xxl-5 me-0 me-xxl-5 swiper-next main-slider-button-next">
        <svg class="chevron-forward-circle d-flex justify-content-center align-items-center p-2" width="80" height="80">
          <use xlink:href="#alt-arrow-right-outline"></use>
        </svg>
      </div>
      <div class="position-absolute start-0 ps-0 ps-xxl-5 ms-0 ms-xxl-5 swiper-prev main-slider-button-prev">
        <svg class="chevron-back-circle d-flex justify-content-center align-items-center p-2" width="80" height="80">
          <use xlink:href="#alt-arrow-left-outline"></use>
        </svg>
      </div>
      <div class="swiper main-swiper">
        <div class="swiper-wrapper d-flex align-items-center">
          <div class="swiper-slide">
            <div class="container">
              <div class="row d-flex flex-column-reverse flex-md-row align-items-center">
                <div class="col-md-5 offset-md-1 mt-5 mt-md-0 text-center text-md-start">
                  <div class="banner-content">
                    <h2>The Fine Print Book Collection</h2>
                    <p>Best Offer Save 30%. Grab it now!</p>
                    <a href="index.html" class="btn mt-3">Shop Collection</a>
                  </div>
                </div>
                    <div class="col-md-6 text-center>
                  <div class="image-holder">
                    <img src="{% static 'images/banner-image2.png' %}" class="img-rounded" height="400px" alt="banner">
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

<div class="container nt-5 p-3">
<h1 class="text-center">BOOKS</h1>
<p style="text-align:justify;line-height=2" class="fs-3">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries</p>
</div><br><br>
<div class="container">
        <div class="section-title overflow-hidden mb-4">
          <h3 class="text-center">Collections</h3>
        </div>
        <div class="row d-flex justify-content-evenly">
            {% for i in cat %}
            <div class="col-md-3">
            <div class="card">
            <img src="{{i.image.url}}" class="card-img-top" height="250px" width="80%">
            <div class="card-body">
            <h5 class="card-title-dark">{{i.name}}</h5>
            <br>
            <a href="{% url 'shop:products' i.id %}" class="btn btn-primary">Products</a>
         </div>
            </div></div>
              {% endfor %}
          </div>

</div>
{% endblock %}